html, body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

img {
    width: 60px;
}
.health {
    position: absolute;
}

.b1, .b2, .b3 {
    width: 130px;
}

.button {
    position: absolute;
    left: 500px;
    top: 500px;
}

/* .game {
    width: 100%;
    height: 100%;
    background-color: red;
    opacity: 0.2;
} */
